.status-icon-container {
  display: inline-block;
  width: 60%;
  margin: 5vh 0;
  aspect-ratio: 1;
  align-content: center;
}

.dark-mode .status-icon-container {
  padding: 8px;
  border-radius: 50%;
  background-color: var(--medium-gray-transparent);
}
.status-icon {
  max-width: 30vh;
  max-height: 30vh;
}
