html {
	font-size: 20px;
}

body {
	background: grey;
}

.lcd-wrapper {
	width: 480px;
	height: 320px;
	margin: 0 auto;
	background: white;
}

.button-menu {
	margin: .35rem;
}

.button-menu .ui.button {
	display: block;
	margin-bottom: .75rem;
	width: 100%;
}
