Flask==2.3.2
flask-cors==6.0.0
pytest==8.0.0
requests==2.32.0
pyserial==3.5
w1thermsensor==2.0.0
pyyaml==6.0.1
configobj==5.0.9
multiprocessing-logging==0.3.4
simple-pid==2.0.0
pydantic==2.10.4
waitress==3.0.2
