{#% set repo = "https://raw.githubusercontent.com/FourThievesVinegar/microlab-parts/" %#}
{% set repo = "https://raw.githubusercontent.com/openvmp/forked-FourThievesVinegar-microlab-parts/" %}
{% set revision = "3d1371d9f2ba293ec7beb92ac84288c4f80e06ac" %}
{% set url_prefix = repo + revision %}