{#% set repo = "https://raw.githubusercontent.com/FourThievesVinegar/microlab-parts/" %#}
{% set repo = "https://raw.githubusercontent.com/openvmp/forked-FourThievesVinegar-microlab-parts/" %}
{% set revision = "4ed8091733c1d446a6ffc0f6744ea05cb6ec122d" %}
{% set url_prefix = repo + revision %}