{#% set repo = "https://raw.githubusercontent.com/FourThievesVinegar/microlab-parts/" %#}
{% set repo = "https://raw.githubusercontent.com/openvmp/forked-FourThievesVinegar-microlab-parts/" %}
{% set revision = "10dc84012a4c90e927c403b452eaa1a3a15f6f14" %}
{% set url_prefix = repo + revision %}