/* Global Resets and layouts */

html {
	font-size: 20px;
}

body {
	background: grey;
}

.lcd-wrapper {
	position: relative;
	width: 480px;
	height: 320px;
	margin: 0 auto;
	background: white;
}

.main-menu {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	transition: transform 0.4s ease;
	transform: translateX(100vw);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu .header.item {
	flex-grow: 1;
}

.main-menu.active {
	transform: translateX(0);
}

.button-list {
	margin: .34rem;
}

.button-list .ui.button {
	display: block;
	margin-bottom: .75rem;
	width: 100%;
}

.home-page {
	text-align: center;
}

/* Pages */
/* Break this out into separate sections */